{% if images %}
	<div class="slider-wrapper theme-{{ nivo_slider_theme}} controlnav-thumbs">
		<div class="ribbon"></div>
		<div id="{{ field_name }}" class="nivoSlider {{ isThumb ? 'nivoSlider-thumb' : FALSE }}">       
			{% for details in images %}
				<img src="{{ details.url }}" data-thumb="{{ details.datathumb }}" alt="" />
			{% endfor %}
		</div>
	</div>
{% endif %}
